body {
    font-family: 'Roboto', sans-serif;
}

.content {
    background-image: url("../img/mainbg.png");
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    padding-top: 46px;
}

.container {
    width: 1027px;
    margin: 0 auto;
}

.top-main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-logo {
    display: flex;
    align-items: flex-end;

}

.main-icon {
    background-image: url("../img/logo/iconmilan.png");
    background-repeat: no-repeat;
    background-size: 53px 54px;
    padding-left: 60px;
    text-decoration: none;
}

.main-icon:hover {
    background-image: url("../img/logo/iconhover.png");
}

.logo-text {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #ffffff;

}

.logo-text:hover {
    color: #F26522;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 19px;
}

.contact-us-txt {
    text-decoration: none;
    color: #ffffff;

}

.contact-us-txt:hover {
    color: #F26522;
}

.tour-cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 37px;
    column-gap: 61px;
    margin-top: 17px;
}

.main-card-link {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.main-card {
    position: relative;
}

.main-card-link:hover {
    color: #F26522;
}

.border-img {
    width: 300px;
    height: 220px;
}

.cards-name {
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
}

.card-info {
    position: relative;
}

.card-info-txt {
    position: absolute;
    bottom: 0;
    background-color: #F26522;
    width: 300px;
    height: 55px;
    opacity: 0;
    transition: all 0.7s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-card:hover .card-info-txt {
    opacity: 1;
    margin-bottom: 39px;
}

.card-info-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    margin-right: 37px;
    margin-top: 20px;
}

.card-txt {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
    margin-left: 16px;
    color: #ffffff;

}

.card-txt-price {
    margin-left: 16px;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
}



.card-info-link::after {
    content: "";
    background-image: url("../img/cards/card-arrow.png");
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
    right: 14px;
    width:7px;

    height:12px;
}

.footer-rights {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
    margin-top: 49px;
    line-height: 12px;
    color: #ffffff;
}